/*https://www.w3schools.com/cssref/default.asp*/
html {
    scroll-behavior: smooth;
    background-color: #fefbd8;
}
a {
  width: 50px;
  text-decoration: none;
  color: #000000;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  text-align: left;
}
top {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 75px;
    text-align: center;
    background-color: #2317aa;
    color: #E3DCD2;
}
h1.title {
  font-style:italic;
  border-style: none none solid none;
}
/* Style the tab buttons */
.tablink {
    background-color: #f7f6e6;
    color: rgb(0, 0, 0);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.33%;
}
  /* Change background color of buttons on hover */
.tablink:hover {
    background-color: #fefbd8;
}
  /* Set default styles for tab content */
.tabcontent {
    color: rgb(0, 0, 0);
    display: none;
    padding: 50px;
    text-align: center;
}
.topnav {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 75px;
    color: #E3DCD2;
    text-align: center;
    background-color: #4237bc;
    overflow: hidden;
}
.topnav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.subjects {
  font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: left;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
}
.Row {
    display: flex;
}
.Column {
    flex: 33.33%;
    padding: 5px;
}
.Row::img {
    width: 0px;
    height: 0px;
}
.picture {
    height: 25%;
    width: 25%;
}