/*https://www.w3schools.com/cssref/default.asp*/
:root {
    --LayerZeroColorDk:#120a3d;
    --LayerZeroColorLi:#fafafa;
    --LayerOneColorDk:#15140c;
    --LayerOneColorLi:#e4e5f1;
    --LayerTwoColorDk:#412854;
    --LayerTwoColorLi:#d2d3db;
    --LayerTwoCoHoLi:#9394a5;
    --LayerTwoCoHoDk:#684285;
    --textColorDk: #3fca56;
    --textColorLi: #484b6a;
}
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--LayerZeroColorDk);
    color: var(--textColorDk);
}
.light-mode, .light-mode a{
    background-color: var(--LayerOneColorLi);
    color: var(--textColorLi);
}
body {
    overflow-x:hidden;
}
a {
    width: 50px;
    text-decoration: none;
    color: var(--textColorDk);
}
p {
  font-size: 32px;
  text-align: left;
}
h1.title {
  font-style:italic;
  border-style: none none solid none;
}
/* Style the tab buttons */
.tablink {
    float: left;
    cursor: pointer;
    padding:10px 10px;
    font-size: 17px;
    width: 33.3%;
    transition: 1.5s;
    background-color: var(--LayerTwoColorDk);
    color: var(--textColorDk);
}
.tablink:hover {
    background-color: var(--LayerTwoCoHoDk);
}
.light-mode .tablink {
    background-color: var(--LayerTwoColorLi);
    color: var(--textColorLi);
}
.light-mode .tablink:hover {
    background-color: var(--LayerTwoCoHoLi);
}
  /* Set default styles for tab content */
.tabcontent {
    display: none;
    padding: 50px;
    text-align: center;
}

.subjects {
    font-size: 32px;
    text-align: left;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.Row {
    display: flex;
}
.Column {
    flex: 33.33%;
    padding: 5px;
}
.grow,.GithubIcon,.GmailIcon,.LinkedInIcon { 
    transition: all .2s ease-in-out; 
    }
    
    .grow:hover,.GithubIcon:hover,.GmailIcon:hover,.LinkedInIcon:hover { 
    transform: scale(1.1); 
    }
.picture {
    height: 25%;
    width: 25%;
}
#myName {
    font-size:90px;
}
#myFace {
    margin:auto;
    border-radius: 20%;
}
#aboutMe, #Experience {
    margin-bottom:300px;
    border: 2px solid var(--textColorDk);
    border-radius: 15px;
    background-color:var(--LayerOneColorDk);
}
.light-mode #aboutMe,.light-mode #Experience, .light-mode #Contact {
    background-color:var(--LayerOneColorLi);
    border: 2px solid var(--textColorLi);
}
#Contact {
    border: 2px solid var(--textColorDk);
    border-radius: 15px;
    display:inline-grid;
    text-align:left;
    background-color:var(--LayerOneColorDk);
}
.GithubIcon {
    border-radius:100%;
}
.GmailIcon {
    border-radius:20%;
}
.LinkedInIcon {
    border-radius:5%;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  text-align: center;
  font-family: Arial;
  padding: 14px 16px;
  font-size: 17px;
}

/* Links inside the navbar */
.navbar a {
    float: center;
    margin-right:5%;
    text-align: center;
    border-right-width: 500px;
}
.navbar a:hover {
    background-color: var(--LayerTwoCoHoDk);
}
.light-mode .navbar a:hover {
    background-color: var(--LayerTwoCoHoLi);
}
/* The dropdown container */
.dropdown {
    display: inline-flex;
    margin-right:5%;
    margin-top:5px;
    overflow: hidden;
}

/* Dropdown button */
.light-mode .dropdown .dropbtn {
    color: var(--textColorLi);
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--textColorDk);
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  width:300px;
  position: absolute;
  background-color: var(--LayerTwoColorDk);
  min-width: 160px;
  box-shadow: 0px 8px 32px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.light-mode .dropdown-content {
    
    background-color: var(--LayerOneColorLi);
}
/* Links inside the dropdown */
.dropdown-content a {
    
  width:300px;
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color:var(--LayerTwoCoHoDk);
    padding-right:95px;
}
.light-mode .dropdown-content a:hover {
    background-color:var(--LayerTwoCoHoLi);
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.PCImage {
border: 5px solid;
border-radius: 10%;
}

.WebImage {
    border: 5px solid;
    border-radius: 10%;
}

.returnHome {
    background-color: #412854;
    width:3%;
}

.carousel {
    position: relative;
}

.carouselItem {
    height: 300px;
    padding:1em;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 2em;
    display: none;
}

.carouselItem--selected {
    display: block;
  }
  
  .carousel__nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carouselButton {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carouselButton--selected {
    background: rgba(255, 255, 255, 0.5);
  }
  