/*https://www.w3schools.com/cssref/default.asp*/
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #15140c;
    color: #3fca56;
}
body {
    width:100.8%;
    overflow-x:hidden;
    background-color: #120a3d;
}
a {
  color: #3fca56;
  width: 50px;
  text-decoration: none;
}
p {
  font-size: 32px;
  text-align: left;
}

h1.title {
  font-style:italic;
  border-style: none none solid none;
}
/* Style the tab buttons */
.tablink {
    background-color: #412854;
    color:#4cc35b;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.33%;
}
  /* Change background color of buttons on hover */
.tablink:hover {
    background-color: #603c7c;
}
  /* Set default styles for tab content */
.tabcontent {
    display: none;
    padding: 50px;
    text-align: center;
}
.topnav {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #120a3d;
    text-align: center;
}
.topnav a {
    float: center;
    color: #4cc35b;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #412854;
}
.subjects {
    font-size: 32px;
    text-align: left;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.Row {
    display: flex;
}
.Column {
    flex: 33.33%;
    padding: 5px;
}
.grow { 
    transition: all .2s ease-in-out; 
    }
    
    .grow:hover { 
    transform: scale(1.1); 
    }
.picture {
    height: 25%;
    width: 25%;
}
#myProfile {
    display:grid;
    text-align:left;
    grid-template-columns:auto auto;
    background-color: #120a3d;
    color: #4cc35b;
    padding-bottom:150px;
    padding-top:150px;
    }
#myName {
    font-size:90px;
}
#myFace {
    border-radius: 20%;
}
#aboutMe {
    margin-bottom:300px;
    border: 2px solid #4cc35b;
    border-radius: 15px;
    background-color:#15140c;
}
#Experience {
    margin-bottom:300px;
    border: 2px solid #4cc35b;
    border-radius: 15px;
    background-color:#15140c;
}
#Contact {
    border: 2px solid #4cc35b;
    border-radius: 15px;
    display:inline-grid;
    grid-template-columns: auto auto;
    text-align:left;
    background-color:#15140c;
}
.folder {

}